.board-name-button {
    border-radius: 17px;
    padding: 5px 15px;
}
.yellow-line {
    /* 크기 및 굵기 */
    width: 355px;
    border: solid #ffd400;

    /* 위치(마진) 조절 */
    margin-top: 4px;

    /* 색 */
    color: #ffd400;
}
.line {
    width: 355px;
    margin-top: 4px;
}
.button {
    border-radius: 1px;
    padding: 5px 15px;
}
