.input_container{
    /* 크기 */
    width: 355px;
    margin: 0 auto;

    /* 내부 아이템 중앙 정렬 및 양 끝에 맞추기*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.icon {
    /* 크기 */
    width: 13px;
    height: 13px;
}
.input_wrapper {
    margin-left: 5%;
    margin-right: 5%;
}
input {
    /* 크기 */
    border: none;
    width: 225px;
    font-size: 2px;
}
.button1 {
    /* 색 */
    background-color: white;
    color: black;

    /* 크기 및 테두리(border) */
    border: 2px solid #ffea80;
    border-radius: 14px;
    padding: 5px 15px;

    /* 폰트 */
    font-size: 15px;

    /* 간격 및 정렬 */
    margin-right: +50px;
}

.button2 {
    /* 색 */
    background-color: #ffd400;
    color: black;

    /* 크기 및 테두리(border) */
    border: 2px solid #ffea80;
    border-radius: 14px;
    padding: 5px 15px;

    /* 폰트 */
    font-size: 15px;
}

.line {
    /* 크기 및 굵기 */
    width: 400px;
    border: solid #ffd400;

    /* 위치(마진) 조절 */
    margin-top: 30px;

    /* 색 */
    color: black;
}
.search-text {
    font-size: 15px;
    text-decoration: underline solid gray;
    /* border-bottom : 3px solid gray;
    padding-bottom : 5px; */
    position: relative;
    top: +30px;
}

.array {
    display:flex;
    flex-direction: column;
    text-align: center;
}

/* .search-container {
    background-color: white;
    height: 42px;
    width: 230px;
    position: absolute;
    overflow: hidden;
}


input[type='radio'] {
    display: none;
}

.label1,
.label2 {
    display: block;
    height: 80px;
    width: 100px;
    background-size: 100px, 80px;
    background: linear-gradient(
        to bottom,
        white 0,
        white 40px,
        #ffd400 40px,
        #ffd400 80px
    );
    border: bold solid #ffd400;
    border-radius: 5px;
    position: absolute;
}
.label2 {
    right: 0;
} */
