.carddeck {
  /* padding-right: 20px;
    padding-left: 20px; */
  padding-top: 400px;
  height: auto;
  width: 100%;
  max-width: 900px;
  max-height: 700px;
  text-align: center;
  /* margin-left: 400px;
    margin-right: 400px; */
  display: block;
  margin: 0px auto;
}
.front {
  font-weight: bold;
  font-size: 25px;
}

.card {
  background-color: yellow;
}
.eachcard {
  padding: 20px;
}
