.board-container {
    padding-top: 50px;
    padding-left: 3%;
    padding-bottom: 10vh;

    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 100%;
    /* min-width: 1000px; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.board-divide-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 50px;
}
.board-center-container {
    width: 100%;
    padding-bottom: 10%;
    /* background-color: black; */
    margin-bottom: 10px;
}
.board-right-container {
    width: 73%;
    /* min-width: 900px; */
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}
.board-left-container {
    /* background-color: #f2f2f2; */
    width: 27%;
    min-width: 220px;
    /* max-width: 300px; */

    padding-top: 20px;
    flex-grow: 1;
    flex-shrink: 1;
}
.board-half-container {
    width: 100%;
    margin-bottom: 10px;
}
.board-name-container {
    align-items: flex-start;
    margin-top: 5%;
}
.board-best-board {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 10%;
}
.board-mainboard {
    margin-top: 50px;
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}
.board-pagination-container {
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.board-button-container {
    height: 45px;
    width: 800px;
    min-width: 800px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.board-explanation {
    margin-top: 10px;
}
.board-name-button {
    border-radius: 17px;
    padding: 5px 15px;
}
.board-yellow-line {
    /* 크기 및 굵기 */
    width: 100%;
    border: solid #ffd400;

    /* 위치(마진) 조절 */
    margin-top: 4px;

    /* 색 */
    color: #ffd400;
}
.board-main-board-line {
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.board-best-board-line {
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.board-today-board-line {
    width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.board-today-talk {
    width: 100%;
}

.pill {
    height: 1px;
    border-radius: 2px;
    color: gray;
    border: 2px solid currentColor;
    width: 80%;
    margin: 0;
    margin-bottom: 15px;
}

.board-left-container > .pill {
    width: 80%;
}

.vertical-lines {
    height: 10px;
    color: gray;
    background-image: linear-gradient(
        90deg,
        currentColor,
        currentColor 33.33%,
        transparent 33.33%,
        transparent 100%
    );
    background-size: 3px 100%;
    width: 80%;
    margin: 0;
}
.board-right-container > .vertical-lines {
    min-width: 800px;
}
.board-left-container > .vertical-lines {
    min-width: 200px;
}

.dots {
    color: orange;
    height: 8px;
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="gray" cx="1" cy="0.5" r="0.5"/></svg>')
        0 0 100% repeat;
    width: 100%;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
    width: 80%;
    margin: 0;
}

hr.style13 {
    height: 10px;
    width: 70%;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin: 0;
}
.style15 {
    width: 75%;
    border: 1px solid black;
    background-color: black;
    text-align: right;
    margin: 0;
    margin-bottom: 15px;
}
.style15:after {
    content: url(../images/Logo2.png);
    transform: scale(0.04);
    display: inline-block;
    position: relative;
    top: -22.5px;
    padding: 0 10px;
    width: 5px;
    height: 10px;
}
