.bar-container {
    width: 100%;
    background-color: #ffd400;
}

/* .input_wrapper {
  margin-left: 5%;
  margin-right: 5%;
}
input {
  border: none;
  width: 225px;
  font-size: 2px;
}

.buttonContainer {
  margin-top: 1000;
}
.button1 {
  background-color: white;
  color: black;

  border: 2px solid #ffea80;
  border-radius: 14px;
  padding: 5px 15px;

  font-size: 15px;

  margin-right: +50px;
}

.line {
  width: 400px;
  border: solid #ffd400;

  margin-top: 30px;
  color: black;
} */
