.profile-container {
    width: 75%;
    min-width: 150;
    /* padding: theme.spacing(1, 0, 0), */
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
}
.profile-form {
    width: 75%;
    min-width: 200px;
}
.profile-repassword {
    margin-top: 10px;
}
.profile-imageContainer {
    position: relative;
    height: 200px;
    min-width: 800px;
}
.profile-imageLabel {
    position: relative;
    top: 30%;
}
.profile-imageInput {
    position: relative;
    top: 35%;
}
