.signUp-logoIcon {
    width: 70px;
    height: auto;
}
.signUp-termContent {
    height: 120px;
    width: 410px;
    border: 1.5px solid#ffea80;
    border-radius: 3px;
    font-size: 12px;
    overflow: auto;
    position: relative;
    left: 5px;
}
.signUp-agreeContainer {
    position: relative;
    left: 230px;
    margin-top: 10px;
}
.signUp-checkboxAgree {
    width: 30px;
}
