.password-text {
    font-size: 5px;
    text-decoration: underline;
    /* margin-left: 30px; */
    position: relative;
    top: 5px;
}

.input_container {
    /* 크기 */
    width: 355px;
    margin: 0 auto;

    /* 내부 아이템 중앙 정렬 및 양 끝에 맞추기*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.icon {
    /* 크기 */
    width: 13px;
    height: 13px;
}
.input_wrapper {
    margin-left: 5%;
    margin-right: 5%;
}
input {
    /* 크기 */
    border: none;
    width: 225px;
    font-size: 2px;
}
.button {
    /* 색 */
    background-color: white;
    color: black;

    /* 크기 및 테두리(border) */
    border: 2px solid #ffea80;
    border-radius: 14px;
    padding: 5px 15px;

    /* 폰트 */
    font-size: 5px;
}
.line {
    /* 크기 및 굵기 */
    width: 355px;
    border: solid #ffd400;

    /* 위치(마진) 조절 */
    margin-top: 4px;

    /* 색 */
    color: #ffd400;
}
.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.select-container {
    width: 355px;
    height: 70px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gender-container {
    background-color: white;
    height: 42px;
    width: 230px;
    position: absolute;
    overflow: hidden;
}
input[type='radio'] {
    display: none;
}
.label1,
.label2 {
    display: block;
    height: 80px;
    width: 100px;
    background-size: 100px, 80px;
    background: linear-gradient(
        to bottom,
        white 0,
        white 40px,
        #ffd400 40px,
        #ffd400 80px
    );
    border: bold solid #ffd400;
    border-radius: 5px;
    position: absolute;
}
.label2 {
    right: 0;
}
.gender-name {
    height: 40px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 12px;
}
input:checked + label {
    background-position: 0 -40px;
}

.age-container {
    width: 80px;
    height: 44px;
    position: relative;
    left: 275px;
}
.select_age {
    position: relative;
    font-size: 12px;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

select {
    width: 80px; /* 원하는 너비설정 */

    padding: 0.85em 0.5em; /* 여백으로 높이 설정 */
    font-family: inherit; /* 폰트 상속 */
    /*background: url('이미지 경로') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */

    /* border */
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 3px solid #ffd400;
}
option {
    font-size: 14px;
}

.term-content {
    height: 120px;
    width: 400px;
    border: 1.5px solid#ffea80;
    font: 12px/20px Georgia, Garamond, Serif;
    overflow: auto;
    position: relative;
    left: 5px;
}
.agree-container {
    position: relative;
    left: 220px;
}
.checkbox_agree {
    width: 30px;
}

.signUp-btn {
    width: 170px;
    height: 35px;

    background-color: #ffd400;

    border: none;
    border-radius: 4px;
}
