.react-quill-container {
    width: 100%;
}
.textEditor-react-quill {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-left: 0%;
    border-color: teal;
    border-radius: 20px;
}
