.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.picture-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}
.input-container {
    padding-left: 5%;

    width: 60%;

    flex-grow: 1;
    flex-shrink: 1;
}
.button-container {
    padding-left: 65%;
    flex-grow: 1;
    flex-shrink: 1;
}
.yellow-line {
    /* 크기 및 굵기 */
    width: 90%;
    border: solid #ffd400;

    /* 위치(마진) 조절 */
    margin-top: 4px;
    margin-right: 50px;
    /* padding-right: 50px;
*/
    /* 색 */
    color: #ffd400;
}

.talk-input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    outline-style: none;
}

.title-label {
    margin-top: 30px;
    font-size: large;
}
.talk-img {
    margin-top: 30px;
    width: 100%;
}
.talk_preview {
    margin-top: 30px;
    width: 100%;
    height: 800px;
}

.title-input {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;

    border-color: yellow;
    outline-style: none;
}
.contents-input {
    margin-top: 30px;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    padding: 5px 5px;
    line-height: normal;
    border-color: yellow;
    outline-style: none;
}

.write-button-box {
    margin-left: 45%;

    align-items: center;
    justify-content: center;
    color: yellow;
}
.write-button {
    margin-left: 50%;
    padding-left: 10%;
    border-radius: 10px;
    padding: 1px 50px;
}
